* {
    margin: 0;
    padding: 0
}

body {
    min-height: 100vh;
    background:   /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 1.0), 
      rgba(0, 0, 0, 1.0)
    ),
    
    url("https://www.wallpaperflare.com/static/326/937/303/notebook-work-girl-computer-wallpaper-preview.jpg");
    /*background-image: url("https://www.wallpaperflare.com/static/326/937/303/notebook-work-girl-computer-wallpaper-preview.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));*/
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.card {
    /*background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));*/
    background: rgb(255, 255, 255, 0.5);
}